body {
    margin: 0;
    padding: 0;
    background: #E8E8E7;
    font-family: 'Shift', sans-serif;
}

.box1 .container {
    position: relative;
    top: 150px; 
    border: 1px solid white;
    width: 350px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;  
}

.box1 {
  margin-top: 10px;
  height: 400px;
}

.box1 h1 {
  color: #fff;
  font-size: 3em;  
  margin-top: 15px;
  margin-bottom: 0;
  font-weight: bold;
}

.box1 p {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
}

.line {
    background: #8BCC98;
    width: 100%;
    height: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.text {   
    padding: 10px;
    color: grey;
}

p {
    text-indent: 25px;
}